/* the following styles apply to both of our pages */

body {
  background-color: #424242;
  font-family: 'Arial', 'Verdana';
  padding: 3em;
}

table {
  width:600;
  background-color:#C0C0C0;
  font-family: 'Arial', 'Verdana';
}

table td {
  width:300px;
  font-family: 'Arial', 'Verdana';
  padding: 30px;

}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'Arial', 'Verdana';
  margin: 0;
  padding:25px;
  color:white;
}

h1 a {
  color: #424242;
  font-family: 'Arial', 'Verdana';
}

h1 a:hover {
  font-weight: bold;
  font-family: 'Arial', 'Verdana';
  color: #424242;
}

h1, footer {
  background-color: #E91D63;
  font-family: 'Arial', 'Verdana';
  padding: 1em;
  letter-spacing: .05em;

}

main {
  background-color: white;
  padding: 2em;
  font-family: 'Arial', 'Verdana';
}

footer {
  font-size: .8em;
  font-family: 'Arial', 'Verdana';
}

/* the body with id #index is only on our index.html page */
body#index {
  text-align: center;
}

#index main {
  padding: 4em;
}

#date {
  font-weight: bold;
  font-family: verdana;
}

#status {
  text-transform: uppercase;
  font-size: 8em;
  color:red;
}

/* the following rules are added for the resolution.html page but
    they apply anywhere this css file is imported */

nav {
  padding: 1em; 
  background: #ffffff;
}

img {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

#song-list{
  border: 1px solid #FF2079;
  
}

li{
  padding:5px;
}

h3{
  padding:5px;
}

span{
  padding:5px;
}
